/* JSFormValidation.css */
.required {  /* Marker for required fields */
   color: red;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;

}


.errorMsg {  /* for error messages */
   color: red;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
   text-align: center;

;
}
 
.errorBox {  /* for the error input text fields */
   border: 2px solid red!important ;
      background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
   background-color: #ffe1e1 !important ;



}
 
